.contenido {
    margin: 0% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .h2-eventos {
    text-align: center;
  }
  
.btn-box {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.btn-sm {
  padding: 4px 20px;
  font-size: 16px;
  background-color:rgb(44, 44, 44) ;
  border-color: #00000000;
}

.btn:hover {
 
  background-color: #0f1114;
  border-color:#0f1114;
}


