@media (max-width: 1024px) {
    .logo {
      cursor: pointer;
      width: 22%;
    }
   
    .form-main {
      padding: 32.5% 7%;
    }
  }
  @media (max-width: 768px) {
   
    .container .content-section h1 {
      font-size: 53px;
      margin-bottom: 0px;
      font-family: Seagram;
  }
  .main-mensaje {
    font-size: 55px;
}

.mensaje-bienvenido .somos {
  font-size: 21px;
}

.mensaje-bienvenido .somos1 {
  font-size: 10px;
}
    .container{
      flex-direction: column;
    }
  
    .img-section, .content-section{
      flex: 100%;
      margin: auto;
      text-align: center;
      padding: 0px;
    }
  
    .img-section img{
      
        width: 100%;
        margin-bottom: 17px;
        margin-top: 22px;
    }

    .mensaje-bienvenido {
      padding: 381px 0px;
  }
    
    
  }
  @media (max-width: 480px) {
    
    
    .form-main {
        padding: 35.5% 10%;
    }
    .ubicacion {
      gap: 26px;
    }
    .main-ubicacion {
      min-height: 83vh;
    }
    .footer-links a {
      color: #000000;
      text-decoration: none;
      font-size: 13px;
    }
    .footer-links ul {
      display: flex;
      justify-content: center;
      gap: 2%;
      text-decoration: none;
    }
    .eventos_img img {
      width: 286px;
    }
    .logo {
      cursor: pointer;
      width: 50%;
    }
    .nav__links  {
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background-color: rgba(228, 228, 228, 0.74);
      width: 100%;
      position: absolute;
      backdrop-filter: blur(7px);
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
     
    
    .nav__links li {
      display: flex;
      padding: 0px 2px;
    }
   
    
    .menu-hb{
      width:50px;
      display:flex;
    }
    .footer-links ul {
      display: block;
      justify-content: center;
      gap: 3%;
    }
   
    .main-mensaje {
      font-size: 54px;
     
  }
  .somos {
  
    font-size: 19px;
    
}
.somos1 {
  
  font-size: 14px;
  
}
.mensaje-bienvenido {
  padding: 280px 0px;
  }

.galeria_img img {
    width: 338px;
    border-radius: 10px;
}

.container{
 width:  100%;
}
.content-section h2 {
  font-size: 33px;
}
.content-section {
  flex: 1;
  margin-left: 0px;
}
.about-us {
    padding: 21px;
}
.mapa-ubicacion {
  width: 80%;
  height:80%;
}
.ubicacion {

  padding: 33% 10%;
}
.ubicacion p {
  padding: 2% 5%;
}
.box-content{
  padding-top: 124px;
}
.container .content-section {
  flex: 1;
  margin-left: 0;
}

}