.ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    gap: 0px;
    padding-bottom: 200px;
    
    
      p {
     
      text-align: justify;
     }
   
    .mapa-ubicacion {
      width: 40%;
      justify-content: center;
      display: flex;
      align-items: center;
      
    }
  }

  .ubicacion-box{
    width: 350px;
  }

  .direccion-tittle{
    padding-top: 35px;
    
  }
  

  
 