.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color:$main-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000000000;
    
    .logo{
      width: 55px;
    }
    
  }
  
  .header-index {
    display: 1;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
  }
  
  .img-main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .img-main {
    width: auto;
    height: 511px;
  }
  
  
  .nav__links {
    list-style: none;
  }
  
  .nav__links li {
    display: inline-block;
    padding: 0px 15px;
  }
  
  .nav__links li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.8s;
  }
  


