@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body{
  h1 {
      text-align: center;
      padding: 5%;
      font-size: 30px;
      font-family:'seagram';
      
      }
      li, a, button {
          font-weight: 700;
          font-size: 15px;
          text-decoration: none;
          font-family: $font;
          color: $secondary-color;
          
        }      
  }

main {
    padding: 5% 0% 0% 0%;
  }
  
  .form-main {
    padding: 10.5% 25%;
  }
  
  main {
    min-height: 100vh;
    max-height: 100%;
    background-color: #f8f8f8;
  }
  